@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600;700&family=Lobster&family=Pacifico&family=Prompt&family=Roboto+Mono:ital,wght@0,300;1,200&family=Roboto:ital,wght@0,400;0,700;1,100;1,500&display=swap');

/* font-family: 'Heebo', sans-serif;
font-family: 'Lobster', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Prompt', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace; */


body{
    margin: 0;
    padding: 0;

}
.nav-container{
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
    /* box-sizing: border-box; */
    /* box-shadow: 5px 5px; */
}
.logo-icon{
   width: 100px;
   margin-right: 190px;
}
.menu-items{
    color: black;
    display: flex;
    list-style: none;
    margin-top: 40px;
    margin-right: 45px;
    font-weight: 600;
    font-family: 'Lobster', sans-serif;
    /* font-family: 'Pacifico', cursive; */
    /* font-family: 'Roboto', sans-serif; */
}
.menu-items li a:hover{
    color: blue;
}
.items{
    color: black;
    margin-left:20px;
    text-decoration: none;
}

.items-home{
    color: blue;
    text-decoration: none;
}

.syeda{
    color: blue;

}
/* banner */
.banner{
    display: flex;
}
.banner-img{
    margin-left: 30px;
}
.banner-imges{
   
    margin-top: 40px;
    width: 360px;
    height: 340px;
}
.banner-info{
    margin-top: 70px;
    margin-left: 100px;
    font-family: 'Lobster', sans-serif;
    font-weight: 500;
}
.social{
    margin-top: 20px; 
}
.social a:hover{
    background-color: rgb(0, 102, 255);
}
.icon{
   margin-left: 5px;
    color: black;
    border: 1px solid blue;
    padding: 8px;
    border-radius: 50%;
}
